1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [13]:
my_list = []

for i in range (1, 101):
    if i % 3 == 0 and i % 5 == 0 :
        print("HelloWorld")
        my_list.append("HelloWorld")
    elif i % 3 == 0 :
        print("Hello")
        my_list.append("Hello")
    elif i % 5 == 0 :
        print("World")
        my_list.append("World")
    else :
        print(i)
        my_list.append(i)

my_tuple = tuple(my_list)

for n, i in enumerate(my_list):
    if i == "Hello" :
        my_list[n] = "Python"
    elif i == "World" :
        my_list[n] = "Works"

my_tuple = tuple(my_list)
print(my_tuple)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'HelloWorld', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'HelloWorld', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'HelloWorld', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'HelloWorld', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'HelloWorld', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'HelloWorld', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
def swap(x, y) :
    x, y = y, x
    return x, y

print(swap('a',2))

(2, 'a')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
import math 

def euclidean_distance(u, v):
    return math.dist(u, v)

print(euclidean_distance((3,0), (0,4)))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [4]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

my_dict = {}

for c in s :
    c = c.lower()
    if not c in my_dict :
        my_dict[c] = 1
    else :
        my_dict[c] += 1

print(my_dict)

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [12]:
from collections import Counter

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def count_unique(l):
    unique_list = [] # created an empty list
    count = Counter(l)
    for x in l:
        if count[x] == 1: # if appears only once then append to the list
            unique_list.append(x)   
    print("Unique numbers: ", unique_list)
    print("Number of unique elements: ", len(unique_list))
    
count_unique(l)

Unique numbers:  [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
Number of unique elements:  37

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def count_unique(l):  # 2 for loops to traverse the list and compare each elements
    unique_list = []
    for i in l:
        count = 0
        for j in l:
            if (j == i):
                count += 1  # count the number of occurances
        if count == 1: 
            unique_list.append(i)  # if appears only once then append to the list
    print("Unique numbers: ", unique_list)
    print("Number of unique elements: ", len(unique_list))
    
count_unique(l)

Unique numbers:  [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
Number of unique elements:  37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
def square(x):
    return x**2

def cube(x):
    return x**3

def sixth_power(x):
    return cube(square(x))

print(sixth_power(3))

729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [8]:
#using a loop
A_cubes = []
for i in range(10) :
    A_cubes.append(i**3) # append the cube of x
print (A_cubes)
        
#using a list comprehension
B_cubes = [i**3 for i in range(10)]

print(B_cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [9]:
import math

list_pythagorean = []

for b in range(100):
    for a in range(1, b):
        c = math.sqrt( a * a + b * b)
        if c % 1 == 0 and c <= 100: # if c is not a float and less than 100
            temp_tuple = (a, b, int(c))
            list_pythagorean.append(temp_tuple)

tuple_pythagorean = tuple(list_pythagorean)
print(tuple_pythagorean)

((3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (20, 21, 29), (7, 24, 25), (10, 24, 26), (18, 24, 30), (21, 28, 35), (16, 30, 34), (24, 32, 40), (12, 35, 37), (15, 36, 39), (27, 36, 45), (9, 40, 41), (30, 40, 50), (40, 42, 58), (33, 44, 55), (24, 45, 51), (28, 45, 53), (14, 48, 50), (20, 48, 52), (36, 48, 60), (39, 52, 65), (48, 55, 73), (33, 56, 65), (42, 56, 70), (11, 60, 61), (25, 60, 65), (32, 60, 68), (45, 60, 75), (16, 63, 65), (60, 63, 87), (48, 64, 80), (51, 68, 85), (24, 70, 74), (21, 72, 75), (30, 72, 78), (54, 72, 90), (65, 72, 97), (40, 75, 85), (57, 76, 95), (36, 77, 85), (18, 80, 82), (39, 80, 89), (60, 80, 100), (13, 84, 85), (35, 84, 91), (28, 96, 100))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [10]:
def normalize(tpl):
    temp = list(tpl) 
    list_norm = []
    for i in temp:
        list_norm.append(i/max(temp)) # normalization by dividing all elements into the max element
    return tuple(list_norm)

print(normalize((523,420,8)))

(1.0, 0.8030592734225621, 0.015296367112810707)